#root {
  margin: 0 auto;
  text-align: center;
}
       
.color{
  color: aliceblue;
  font-size: medium;
  font-weight: 600;

}

.span {
  margin: 5px;
  color: aliceblue;
  font-size: medium;
  font-weight: 600;
}

.star {
  margin: 2px;
  height: 50px;
  width: 50px;
}

.active {
  color: yellow;
}

.inactive {
  color: #000;
}

.button {
  margin-right: 5px;
  background-color: #000;
  color: whitesmoke;
}